.list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.list-title {
  margin: 18px 0 12px 0;
  font-size: 20px;
}

.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
